/* comentario*/
/*
body {
    background-color: rosybrown;
}*/
/*tipos de selectores*/
p {
    color:blueviolet
}

#p1 {
    color: aqua;
}

.texto-amarillo {
    color:yellow;
}

* {
    color:blue;
}